@model Actor

@{
    ViewData["Title"] = "Details";
}


<div class="col-md-8 col-xs-6 " id="main">
    <div class="card mb-5 bg-black text-light">
        <div class="row g-0">
@*            <div class="col-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.FullName
                               @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a class="text-white float-right" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i></a>
                            }
                        </h5>
                    </p>
                </div>
            </div>
*@            <div class="col-md-7 rounded">
                <img src="@Model.ProfilepictureURL" style="width:90%" alt="@Model.FullName">
            </div>
            <div class="col-md-4 ">
                <div class="card-body">
                    @*<p class="card-text"><b>Cinema: </b></p>           ----------عشان اعرض صور الافلام بتاعته *@
                    <p class="card-text"><b>FullName: </b>@Model.FullName</p>
                    <p class="card-text"><b>About : </b>@Model.Bio</p>
                    <p class="card-text ">
                     
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-warning text-decoration-none">Edit</a> |
    <a asp-action="Index" class="text-warning text-decoration-none">Back to List</a>
</div>

<style>
    #main{
        margin-top:2%;
        margin-left:30%;
        height:40%;
        width:50%;
        border: solid #FFD93D 1px;
        border-radius:7px;
     
    }
</style>
