@model IEnumerable<MovieTicketApp_MVC_project.Models.Actor>

@{
    ViewData["Title"] = "Index";
}
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilepictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilepictureURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

@*<div class="container mx-auto mt-4">*@
   
<html class="bg-black">
    
    <body class="bg-black">
<div class="row d-flex justify-content-between ">
        @foreach (var item in Model) {
        @*<div class="col-md-4 bg-dark ">*@
        <div id="main" class="card bg-dark rounded my-3" style="width:22rem;height:30rem">
                    <img src="@item.ProfilepictureURL" class="card-img-top h-50 rounded" alt="..." >
                <div class="card-body ">
                    <div>
                    <h5 class="card-title text-light">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <div style="height:40px; -webkit-line-clamp:3;" class="my-3">

                        <p class="card-text text-light" style="text-overflow:ellipsis;overflow: hidden;white-space: nowrap;">
                            @Html.DisplayFor(modelItem => item.Bio)
                    </p>
                </div>

                <div class="my-4">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning mx-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning mx-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-warning mx-2">Delete</a>
                </div>
             @*       <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn btn-primary"><i class="fab fa-github"></i> Github</a>*@
                </div>
            </div>
     @*   </div>*@
        }
    </div>
@*</div>*@
@await Html.PartialAsync("_CreateItem","Actors");
<style>
        #main:hover{
            box-shadow: 2px 2px 10px 1px #9E6F21;
        }
</style>
</body>

</html>
